:root {
  --main-color: #F5F5F0;
  --primary-color: #ff9578;
  --secondary-color: #7A7A7A;
  --tertiary-color: #8B95AB;
  --active-color: #ff9578;
  --container-color: #F5FAFF;
  --background-color: #F5F6F8;
  --dark-color: #0E0E0E;
  --light-color: #FEFEFE;
}